<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>More-Recipe | Login page</title>
</head>

<body>
    <div class="container">
        <header class="head">
            <nav class="nav-bar">               
            </nav>
        </header>
        <section class="login_section">
            <form action="" method="post">
                <input type="email" name="email" id="login-email">
                <input type="password" name="password" id="login-passwd">
                <button class="login-submit"></button>
            </form>
        </section>
    </div>
</body>

</html>